body{
    height: 560vh;
}

/*#region ---------------- Start Stickies -----------------*/

/*#region --- read me --- 
/*This implementation results in a non-full screen page by page window
(I'm sure there's better terminology, but that's what I'm going with).
It started fairly scalable with all %'s for size, but that didn't quite
work out.  Mainly because I needed to work out exactly where content starts
and stops in order to cover it up nicely... Actually, hold that thought.
                                                                      #endregion */

.stickies{
    position: absolute;
    left: 25%;
    top: 150vh;
    width: 50%;
    height: 500px;
}
.stickies article{
    top: 100px; /* wherever you want it to stop (must be the same or higher than .stickies top) */
    width: 100%;
}
.stickies .coverContainer{
    top: 0%; /* stop at top of screen */
}
.stickies .coverContainer2{
    top: 600px; /*stop at bottom of sticky content */
}
.stickies .coverTop, .stickies .coverBottom{
    position:sticky;
    z-index: 3; /* all content below must be z-index 3 or higher */
}
.stickies .coverTop{ 
    top: 0%; /*overwrites ".stickies article" above*/
    height: 100px; /*same as ".stickies article" top */
    background-color: red; /* must match page background */
}
.stickies .coverBottom{
    top: 600px; /*same as parent start height */
    height: 840px; /*highest typical content size (1440) - all sticky content)*/
    background-color: red; /*must match page background. */
}
.sliderContainer1, .sliderContainer2, .sliderContainer3, .coverContainer, .coverContainer2{
    position:absolute;
    overflow: show;
}
.slider1, .slider2, .slider3{
    position: sticky;
    height: 500px; /* same as .stickies, has to be manual because it's a grandchild and its parents are tall */
}
article.slider1{
    background:url(./images/treeRoad.jpg);
    background-attachment: fixed; /*oooooh I like this! */
}
article.slider2{
    background:url(./images/FlatTop.jpg);
    background-size: 100%;
}
article.slider3{
    background:url(./images/MachuPichu.jpg);
    background-size: 100%;
}
.sliderContainer1{
    height: 1000px; /* double the content height for extra scroll */
}
.sliderContainer2{
    height: 2000px; /* double again */
}
.sliderContainer3{
    height: 3000px; /* 140*3 */
}
.coverContainer, .coverContainer2{
    height: 3840px; /* last container plus coverBottom height */
}

/*#endregion ------------- end stickies ----------------*/
/*#region ------------ start redtrail ---------------*/

#redContainer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    overflow: hidden;
    justify-items: center;
    align-items: center;
}
#redSibling{
    position: absolute;
    top: 0px;
    color: white;
    text-align: center;
    font-size: 4em;
}
#redSibling{
    animation: plsWait 15s forwards;
}
#redContainer mark{
    width: 100%;
    height: 100%;
    margin: 0%;
    z-index: 0;
    background-color: purple;
}
#redContainer div{
    margin: 0%;
    z-index: 0;
    background: url(./images/MontStMichel.jpg) no-repeat 15vw 100px fixed;
    background-size: 100%;
}
@keyframes plsWait{  /* putting a "loading" cover over the interactive divs while the initial animation plays */
    0%      {z-index: 2; opacity: 1;}
    80%     {color: white;}
    90%     {z-index: 2; opacity: 1; color: rgba(255, 255, 255, 0);}
    100%    {z-index: -100; opacity: 0;}
}
@keyframes fade {
    0%      { opacity: 1; z-index: -100; width: 100%; height: 100%; border-radius: 20%;}
    10%     { opacity: 0;                width:  20%; height:  20%; border-radius: 50%;}
    40%     {             z-index: 1;}
    95%     { opacity: 0.4;              width:  80%; height:  80%; border-radius: 20%;}
    100%    { opacity: 1;                width: 100%; height: 100%; border-radius:  0%;}
}
@keyframes trigger { /* instantly puts the div to the back to trigger the standard animation */
    0%      { z-index: 0;}   /* That means I can have an "on hover" animation even if the mouse */
    100%    { z-index: -100;}   /* leaves the div, rather than having to keep the mouse on top while the animation plays */
}

#redContainer div{
animation: fade 15s linear forwards;
}
#redContainer div:hover {
animation: trigger 0s forwards;
}
/*#endregion ------------ end redtrail -----------------*/